
<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <h1>{{ order_item.name }}</h1>
        <img src="{{ order_item.image }}">
        <div class="description">
          <h3>¥ {{ order_item.price }}</h3>
        </div>
      </div>
      <form action="{% url 'checkout' order_item.pk %}" method="POST">{% csrf_token %}
        <button type="submit" id="checkout-button">購入</button>
      </form>
    </section>
  </body>
</html>