<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳細</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header class="bg-gray-800 text-white shadow-md">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <a href="{% url 'list' %}" class="text-2xl font-bold text-white">Django EC</a>
            <nav class="space-x-6">
                <p>ログイン中のユーザー: {{ username }}</p>
                <a href="{% url 'signin' %}" class="hover:text-gray-600">ログイン</a>
                <a href="{% url 'signup' %}" class="hover:text-gray-600">会員登録</a>
                <a href="{% url 'create' %}" class="bg-blue-600 text-white px-3 py-2 rounded hover:bg-blue-700">出品</a>
            </nav>
        </div>
    </header>
    <main class="container mx-auto my-8 px-6">
        <div class="bg-white shadow rounded-lg p-6 flex">
            <div class="w-1/2">
                <img src="{{ object.image.url }}" class="rounded-lg">
            </div>
            <div class="w-1/2 pl-6">
                <h1 class="text-3xl font-bold text-gray-800">{{ object.name }}</h1>
                <p class="text-xl text-gray-600 mt-2">{{ object.price }}</p>
                <p class="mt-4 text-gray-600">{{ object.explanation }}</p>
                <div class="mt-6">
                    <a href="{% url 'like_item' object.pk %}" id="likeButton" class="flex items-center space-x-2 bg-gray-200 text-gray-600 px-4 py-2 rounded-lg hover:bg-pink-500 hover:text-white transition duration-300 w-20" aria-pressed="true">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M3.172 3.172a4 4 0 015.656 0L10 4.343l1.172-1.171a4 4 0 115.656 5.656L10 15.657l-6.828-6.83a4 4 0 010-5.656z" />
                        </svg>
                        <span>{{ object.count_likes }}</span>
                    </a>
                    <a href="{% url 'checkout' object.pk %}">
                    <button class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">購入手続きへ</button>
                    </a>
                </div>
                <div class="mt-6">
                    <p class="text-sm text-gray-500">出品者: <a href="#" class="text-blue-600 hover:underline">{{ object.author }}</a></p>
                    <p class="text-sm text-gray-500">カテゴリー: <a href="#" class="text-blue-600 hover:underline">{{ object.genre }}</a></p>
                </div>
            </div>
        </div>
    </main>
    <script>
        const likeButton = document.getElementById('likeButton');
        likeButton.addEventListener('click', () => {
            likeButton.classList.toggle('bg-pink-500');
            likeButton.classList.toggle('text-white');
            likeButton.classList.toggle('bg-gray-200');
            likeButton.classList.toggle('text-gray-600');
        });
    </script>
</body>
</html>
